body {
  font-family: 'Poppins', sans-serif;
  background-color: #10133A;
}

section {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
