.Partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(110, 88, 131, 0.3);

  &-Partner {
    margin-right: 37px;
    margin-bottom: 32px;
    opacity: 0.25;
  }
}
