.Search {
  position: relative;
  width: 29%;

  &-Icon {
    position: absolute;
    top: 16px;
    left: 20px;
  }

  &-Input {
    width: 100%;
    padding: 16px 16px 17px 53px;
    font-size: 14px;
    line-height: 1.18;
    color: var(--color-text-main);
    background: var(--color-bg);
    border: none;
    border-radius: 8px;

    &::placeholder {
      color: var(--color-text-ghost);
    }
  }
}
