button {
  background: none;
  border: none;
  outline: none;
}

.Btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #8C75FA;
  background: none;
  border: 1px solid #8C75FA;
  border-radius: 8px;
  cursor: pointer;



  &--tab {
    display: inline-flex;
    align-items: center;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 118%;
    text-transform: uppercase;
    color: var(--color-text-ghost);
    border-color: var(--color-border-ghost);

    @media(max-width: $screen-l) {
      font-size: 14px;
    }

    @media(max-width: $screen-m) {
      font-size: 12px;
    }

    .Icon {
      margin-right: 12px;
      stroke: var(--color-text-ghost);
      fill: var(--color-text-ghost);

      @media(max-width: $screen-l) {
        margin-right: 6px;
      }

      @media(max-width: $screen-s) {
        margin-right: 12px;
      }
    }

    &.Btn--active {
      color: var(--color-main2);

      .Icon {
        stroke: var(--color-main2);
        fill: var(--color-main2);
      }
    }
  }

  &--link {
    padding: 13px 29px;

    @media(max-width: $screen-m) {
      padding: 13px 23px;
    }

    @media(max-width: $screen-s) {
      padding: 8px 12px;
      font-size: 12px;
    }
  }

  &--link:hover {
    border: none;
    color: var(--color-text-main);
    text-transform: uppercase;
    text-decoration: none;
  }

  &--color {
    color: #fff;
    background: linear-gradient(87.21deg, #FFA41D 1.01%, #FF8F22 48.07%, #FF7B27 99.21%);
    border: none;
  }
}
