button {
  background: none;
  border: none;
  outline: none;
}

.Btn {
  display: inline-block;
  padding: 20px 35px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--color-text-main);
  background: none;
  border-radius: 8px;
  cursor: pointer;

  &--tab {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 118%;
    text-transform: uppercase;
    color: var(--color-text-ghost);
    border: 1px solid var(--color-border-ghost);

    @media(max-width: $screen-l) {
      font-size: 14px;
    }

    @media(max-width: $screen-m) {
      font-size: 11px;
    }

    @media(max-width: $screen-s) {
      font-size: 16px;
      font-weight: 600;
    }

    .Icon {
      margin-right: 12px;
      stroke: var(--color-text-ghost);
      fill: var(--color-text-ghost);

      @media(max-width: $screen-l) {
        margin-right: 6px;
      }

      @media(max-width: $screen-s) {
        margin-right: 12px;
      }
    }

    &.Btn--active {
      color: var(--color-main1);

      .Icon {
        stroke: var(--color-main1);
        fill: var(--color-main1);
      }
    }
  }

  &--text {
    padding: 0;
  }

  &--color {
    color: var(--color-text-main);
    background: linear-gradient(87.21deg, #FFA41D 1.01%, #FF8F22 48.07%, #FF7B27 99.21%);
    border: none;

    &:hover {
      background: var(--color-main1);
    }

    &:active {
      background: var(--color-main3);
    }
  }

  &--outline {
    border: 1px solid #8C75FA;

    &:hover {
      color: var(--color-bg-nav);
    }
  }

  &--outline1 {
    color: var(--color-main1);
    border-color: var(--color-main1);

    &:hover {
      background: var(--color-main1);
    }
  }

  &--outline2 {
    color: var(--color-main2);
    border-color: var(--color-main2);

    &:hover {
      background: var(--color-main2);
    }
  }
}
