* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

//::-webkit-scrollbar {
//  width: 4px;
//  background-color: #828181;
//}
//
//::-webkit-scrollbar-thumb {
//  background-color: #555454;
//}
//
//html, body {
//  scrollbar-width: thin;
//  scrollbar-color: #555454 #828181;
//}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-body);
}

section {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.Modal {
  position: relative;
  height: 100%;
  background: url(~@/assets/img/modal_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px !important;


  &-Content {
    position: relative;
    z-index: 1;
    padding: 15px;
  }

  &-Close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 1;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 7.5px;
      width: 3px;
      height: 15px;
      background-color: var(--color-text-main);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.Arrow {
  border-style: solid;
  border-color: var(--color-text-main);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1.5px;
  cursor: pointer;

  &--up {
    transform: rotate(-135deg);
  }

  &--down {
    transform: rotate(45deg);
  }
}

.Badge {
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

.Form {
  &-Field {
    margin-bottom: 10px;
  }

  &-Row {
    display: flex;
  }

  &-Ceil {
    flex-grow: 1;
    margin-right: 8px;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-Label {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 0.96;
    color: var(--color-text-ghost);
  }

  &-Input {
    width: 100%;
    padding: 18px 16px 19px;
    color: var(--color-text-main);
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 4px;

    &::placeholder {
      color: var(--color-text-ghost);
    }
  }

  &-Container {
    position: relative;
    padding-left: 42px;
    color: var(--color-text-main);
    cursor: pointer;

    &--radio {
      font-size: 14px;
      font-weight: 500;
      line-height: 0.96;
    }

    &--checkbox {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      line-height: 1.24;
    }
  }

  &-Radio {
    display: none;

    &:checked ~ .Form-Checkmark--radio:before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      width: 10px;
      height: 10px;
      background-color: var(--color-main3);
      border-radius: 50%;
    }
  }

  &-Checkbox {
    display: none;

    &:checked ~ .Form-Checkmark--checkbox:before {
      content: "";
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 3px);
      width: 3px;
      height: 6px;
      border: solid var(--color-main3);
      border-width: 0 3px 3px 0;
      transform: rotate(45deg)
    }
  }

  &-Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;

    &:hover {
      border: 1px solid var(--color-main3);
    }
  }

  &-Link {
    font-size: 12px;
    line-height: 1.24;
    text-decoration: none;
    color: var(--color-text-main);

    &--color {
      color: var(--color-main2);
    }

    &:hover {
      color: var(--color-main2);
    }
  }
}

.Euro {
  font-size: 30px;

  @media(max-width: $screen-s) {
    font-size: 18px;
  }
}

.v_slider__list {
  margin-bottom: 0;
}

.vm--overlay {
  background: rgba(9, 5, 2, 0.8) !important;
}
