.Title {
  font-weight: 800;
  line-height: 1.18;
  color: var(--color-text-main);
  text-transform: capitalize;

  &--type-h1 {
    font-size: 24px;
    line-height: 1.295;

    @media (min-width: $screen-s) {
      font-size: 36px;
    }

    @media (min-width: $screen-l) {
      font-size: 38px;
    }

    @media (min-width: $screen-xl) {
      font-size: 48px;
    }
  }

  &--type-h2 {
    font-size: 24px;

    @media (min-width: $screen-l) {
      font-size: 30px;
    }

    @media (min-width: $screen-xl) {
      font-size: 40px;
    }
  }

  &--type-h3 {
    font-size: 30px;
  }

  &--type-h4 {
    font-size: 24px;
  }

  &--color1 {
    color: var(--color-main1);
  }

  &--color2 {
    color: var(--color-main2);
  }

  &--center {
    text-align: center;
  }
}

.Colored {
  color: var(--color-main1);
}

.TextMain {
  color: var(--color-text-main);
}

h2 {
  margin: 0;
}
