p {
  font-weight: 300;
  color: var(--color-text-ghost);
}

.Title {
  font-weight: 800;
  color: var(--color-text-main);
  text-transform: capitalize;

  &--type-h1 {
    font-size: 48px;
    line-height: 118%;

    @media (max-width: $screen-l) {
      font-size: 38px;
    }

    @media (max-width: $screen-m) {
      font-size: 36px;
    }

    @media (max-width: $screen-s) {
      font-size: 24px;
      line-height: 1.295;
    }
  }

  &--type-h2 {
    font-size: 40px;
    line-height: 118%;

    @media (max-width: $screen-l) {
      font-size: 30px;
    }

    @media (max-width: $screen-s) {
      font-size: 24px;
    }
  }

  &--type-h3 {
    font-size: 30px;
    line-height: 118%;
  }

  &--type-h4 {
    font-size: 24px;
    line-height: 118%;
  }

  &--color1 {
    color: var(--color-main1);
  }

  &--color2 {
    color: var(--color-main2);
  }

  &--center {
    text-align: center;
  }
}

.Colored {
  color: var(--color-main1);
}

.TextMain {
  color: var(--color-text-main);
}
